<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

</head>
<body>
<h1>Hello world</h1>
<div id="log"></div>

<script>
    $(function(){
      var socket = new io.Socket();
      socket.connect();
      socket.on('connect', function(){ });
      socket.on('message', function(data){ 
        $('#log').append(data + '<br/>');
      });
      socket.on('disconnect', function(){ });      

      $(document).keyup(function(event){
        socket.send(event.keyCode);
      });
    });
</script>
</body>
</html>
