- title = 'The Game'
- scripts.push("https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
- scripts.push("/browserify.js")
- scripts.push("/socket.io/socket.io.js")

canvas(id="canvas", width=800, height=600, style='border: dotted 1px')

:coffeescript
  game = require './game'
  $ ->
    game.begin $('#canvas')[0]
